:root{
    --primary: #111B54;
    --ligth: #ffffff;
    --grey: #efefef;
}
.alertas{
    color: red !important;
}
body{
    overflow: hidden;
    font-weight: 400;
    color: var(--primary);
}

a:hover{
    text-decoration: none;
}

.bg-primary{
    background-color: var(--primary) !important;
}
#sidebar-container{
    min-height: 100vh;
}

#sidebar-container .logo{
    padding: .875em 1.25em;
}

#sidebar-container .menu{
    width: 18em;
}

#menu{
    width: 50em;
}
